<launch>
    <arg name="model" default="$(find resto_robot)/urdf/resto_robot.urdf"/>
    <param name="robot_description" command="cat $(arg model)"/>

    <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node> -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="$(find resto_robot)/rviz_config/resto_robot.rviz"/>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args=""/> -->
    

</launch>
